@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$bgColor : #a1c5c2;
$textColor: #468189;
$textColorD: #2b5c62;

body{
    margin: 0;
    padding: 0;
    background: $bgColor;
    color: $textColor;
    font-family: 'Bebas Neue', cursive;

    #App{
        height: 100vh;
        #topWrap{
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            #question{
                display: inline-block;
                text-align: center;
                font-size: 6vw;
                text-overflow: ellipsis
            }
        }
        #optionWrap{
            height: 50vh;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .option{
                background: $textColor;
                color: $bgColor;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 6vmin;
                margin: 0;
                user-select: none;
                transition: background 300ms;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover{
                    background: $textColorD;
                }
            }
        }
    }
}