@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$bgColor : #a1c5c2;
$textColor: #468189;
$optColor: rgb(167, 216, 207);

body{
    margin: 0;
    padding: 0;
    background: $bgColor;
    color: $textColor;
    font-family: 'Bebas Neue', cursive;

    #App{
        height: 100vh;
        #topWrap{
            display: flex;
            height: 35vh;
            #points{
            }
            #question{
                font-size: 6em;
            }
        }
        
        #optionWrap{
            height: 65vh;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            .option{
                background: $textColor;
                color: $bgColor;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 6em;
                margin: 0;
                user-select: none;
            }
        }
    }
}